.CareersContainer{
  padding: 30px 0;
  /*background-size: 100% 265px;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.CareersContent{
  text-align: center;
}

.CareersContentTitle{
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.CareersContentText {
  max-width: 800px;
  margin: 25px auto;
  font-size: 18px;
}
