.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  z-index: 100;
  background-color: $color-white;

  &.Dark {
    position: absolute;
    background-color: $brand-primary;

    .HeaderMenuLogo{
      svg {
        path {
          fill: $color-white;
        }
      }
    }
  }
}

.HeaderMenuIconWrapper {
  cursor: pointer;
  width: 25px;
  color: $color-white;
}
