.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  z-index: 100;
  background-color: $color-white;

  &.Dark {
    background-color: $brand-primary;
  }
}

.HeaderMenuIconWrapper {
  cursor: pointer;
}
