.List {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}

.ListItem {
  position: relative;
  height: 100%;
  transition: all .8s ease-out;
  min-width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  cursor: pointer;
  filter: grayscale(1);
  overflow: hidden;

  &:not(:first-child) {
    border-left: 2px solid #ffffff;
  }

  &:not(:last-child) {
    border-right: 2px solid #ffffff;
  }

  .ListItemTitleWrapper {
    position: absolute;
    top: 70px;
    left: 30px;
    transition: top .5s ease, left .5s ease, right .5s ease, transform .5s ease;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    color: transparent;
    padding: 30px;
    min-width: max-content;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;

    .ListItemTitle {
      font-size: 45px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .ListItemContentWrapper {
    position: absolute;
    top: 150px;
    left: 190px;
    transition: top 1s ease, left 1s ease, right 1s ease, transform 1s ease;

    .ListItemContent {
      width: 530px;
      margin-bottom: 27px;
      max-width: 530px;
      color: #ffffff;
    }
  }

  &.Active {
    flex-grow: 1;
    filter: grayscale(0);

    .ListItemTitleWrapper {
      top: 30px;
      writing-mode: horizontal-tb;
      transform: rotate(0);
      //animation: rotateTitle .8s ease-in;
      right: unset;
      left: 0;
      transition: top .5s ease, left .5s ease, right .5s ease, transform .5s ease;
      color: #ffffff;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: transparent;
    }

    .ListItemContentWrapper {
      left: 30px;
    }
  }
}

.PageListItemIconWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 185px;
  color: $color-white;
  transition: all .5s ease;
}
