.PartnersSliderContainer {
  width: 100%;
  position: relative;
  padding-left: 71px;
}

.PartnersSliderHeader {
  padding: 40px 70px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PartnersSliderHeaderTitle {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.PartnersSlide {
  width: 310px;
}

.PartnersSliderItem {
  position: relative;
  padding-top: 150px;
}

.PartnersSliderItemInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
