.Subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 265px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.SubscribeFormWrapper {
    width: 420px;
}

.SubscribeFormTitle {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.05em;
}