.Subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 265px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}