.AccordionItem {
  padding-top: 15px;
  margin-bottom: 15px;
  background-color: $color-white;

  &.Open {
    .AccordionItemBody {
      max-height: 500px;
      transition: all .5s ease-in-out;
    }
  }
}

.AccordionItemHeader {
  position: relative;
  border-bottom: 1px solid $brand-primary;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  .AccordionItemHeaderIcon {
    position: absolute;
    bottom: 9px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
  }
}

.AccordionContainerMeta {
  margin-bottom: 20px;
}

.AccordionTitle {
  margin-bottom: 10px;
}

.AccordionItemHeaderTitle {
  margin-bottom: 9px;
}

.AccordionItemBody {
  max-height: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  overflow: hidden;
  transition: all .5s ease-in-out;

  p {
    padding-top: 15px;
    letter-spacing: 0.05em;
  }
}
