.FooterLinksListContainer {
  padding: 20px 0 30px;
}

.FooterLinksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FooterLinksListItem {
  padding: 0 15px;
  font-size: 18px;
  font-weight: 600;
  border-right: 2px solid $color-black;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }

  &.Dark {
    a {
      color: $color-white;
    }

    border-color: $color-white;
  }
}
