.LanguageSwitcherWrapper {
  margin: 30px 0;
}

.LanguageSwitcherList {
  display: flex;
}

.LanguageSwitcherListItem {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: $color-white;
  cursor: pointer;

  &.Active {
    text-decoration: underline;
  }

  &:not(:last-child) {
    border-right: 1px solid $color-white;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.LanguageSwitcherListItemLink {

}
