.Categories{
  position: relative;
  margin: 0 auto;
}

.CategoriesList {
  display: flex;
  justify-content: center;
}

.CategoriesListItem {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;

  &.Active {
    color: $brand-green-light;
    text-decoration: underline;
  }

  &:not(:last-child) {
    margin-right: 50px;
  }
}
