@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}



#root {
    position: relative;
    min-height: 100vh;
}

.Wrapper {
    padding-top: 78px;
}

a {
    text-decoration: none;
    color: $brand-primary;
}

ul {
    list-style: none;
}
