@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.Wrapper {
    padding-top: 85px;
}

a {
    text-decoration: none;
    color: $brand-primary;
}

ul {
    list-style: none;
}
