@import "variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

#root {
    position: relative;
    min-height: 100vh;
}

.Wrapper {
    padding-top: 78px;
}

a {
    text-decoration: none;
    color: $brand-primary;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

ul {
    list-style: none;
}

svg {
    height: 100%;
}

button {
    border: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

.Container {
    margin: 0 auto;
    padding: 0 70px;
}

.Section {
    margin: 55px 0;
}

main {
    &[data-modal="true"] {
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
}

body {
    &[data-modal="show"] {
        overflow: hidden;
    }
}
